[Unit]
Description=Simple ASP.Net Core REST API that returns processes running on this server

[Service]
WorkingDirectory=/var/www/ProcessesAPI
ExecStart=/usr/bin/dotnet /var/www/ProcessesAPI/ProcessesAPI.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=ProcessesAPI
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
